html {
  background-color: #2A2A2A;
}
html body {
  font-family: 'Open Sans', sans-serif;
}
html body section#vertical-nav {
  background-color: #1F1F1F;
  position: absolute;
  left: 0;
  height: 100%;
  padding: 10px 0;
  z-index: 999;
}
html body section#vertical-nav #logo-box h3 {
  color: #ddd;
  margin-top: 0;
}
html body section#vertical-nav #nav-box .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body section#vertical-nav #nav-box .nav-list li {
  display: block;
}
html body section#vertical-nav #nav-box .nav-list li a {
  display: block;
  color: #ddd;
  padding: 6px 30px 6px 10px;
  text-align: left;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #060606;
  text-decoration: none;
  color: #919191;
  font-weight: 100;
  border-right: 1px solid #1F1F1F;
}
html body section#vertical-nav #nav-box .nav-list li a i {
  margin-right: 10px;
}
html body section#vertical-nav #nav-box .nav-list li a:hover {
  background-color: #323232;
  border-right: 3px solid #9b2020;
  color: #fff;
}
html body section#vertical-nav #nav-box .nav-list li a:hover i {
  color: #9b2020;
}
html body section#vertical-nav #nav-box .nav-list li.active a {
  background-color: #323232;
  border-right: 3px solid #9b2020;
  color: #fff;
}
html body section#vertical-nav #nav-box .nav-list li.active a i {
  color: #9b2020;
}
html body section#header {
  background-color: #767676;
  border-bottom: 1px solid #FF4B4B;
}
html body section#header .profile-box .profile-items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
html body section#header .profile-box .profile-items li {
  display: inline-block;
}
html body section#header .profile-box .profile-items li a {
  color: #A6A6A6;
  font-size: 2em;
  margin-right: 10px;
}
html body section#header .profile-box .profile-items li a:hover {
  color: #9B2020;
}
html body section#admincontents {
  background-color: #D3D3D3;
}
html body section#admincontents .container {
  width: 100%;
  padding-left: 136px;
}
html body section#admincontents .container .content-title {
  float: left;
}
html body section#admincontents .container .content-actions {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
}
html body section#admincontents .container .item-box .item {
  background-color: #ddd;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  margin-bottom: 15px;
  box-shadow: 2px 4px 0px rgba(182, 182, 182, 0.17);
}
